@media only screen and (min-width:0px) and (max-width: 567px){
    .s-links{
        margin-top: 16px;
    }

    .logo{
        text-align: center;
    }
    

    .s-links .fa-brands{
        margin-right: 10px;
    }

    .form-in input{
        padding-left: 10px !important;
        margin-left: 20px;
        margin-top: 0px;
    }

    .blog-list img{
        height: auto;
    }
    
    
}